*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.root {
  height: 100vh;
  width: 100%;
}

.nav {
  background: black;
  color: white;
  left: 0;
  line-height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li {
  margin-bottom: 0;
}
.nav a {
  color: inherit;
  display: block;
  line-height: inherit;
  padding-right: 2rem;
  padding-left: 2rem;
}

.main {
  height: 100%;
  padding-top: 5rem;
  width: 100%;
}
