.container {
  height: 100%; 
  overflow: hidden;
  position: relative;
  width: 100%;
}


/**
 * Controls
 */

.controls {
  background-color: rgba(19, 127, 195, .17);
  border-radius: 4px;
  bottom: 6px;
  padding: 5px;
  position: absolute;
  right: 6px;
  width: 3em;
}

.controls button {
  background: #007dc6;
  border: none;
  color: white;
  display: block;
  line-height: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
}
.controls button:focus,
.controls button:hover {
  background: #3da1e0;
}
.controls button:active {
  background: #0070b2;
}
.controls button:first-child {
  border-radius: 3px 3px 0 0;
  margin-bottom: 1px;
}
.controls button:last-child {
  border-radius: 0 0 3px 3px;
}
.controls button span {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
}

/**
 * Graphic.
 */
.graphic {
}

.graphic-draggable {
  cursor: move;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.graphic-scaler {
  transition-duration: 150ms;
  transition-property: transform;
  transition-timing-function: linear;
}

.graphic .scaler > * {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/**
 * Map
 *
 * Ensure user can't drag map image
 * https://stackoverflow.com/a/12906840
 */
.map {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/**
 * Points of Interest
 */

.pois {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.poi text {
  fill: #222222;
  font-size: 14px;
  font-weight: 700;
  transition-duration: 150ms;
  transition-property: opacity;
}

/**
 * Items
 */

.items {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.item > g {
  transition-duration: 150ms;
  transition-property: transform;
}
.item circle {
  fill: #007dc6;
}
.item text {
  alignment-baseline: middle;
  fill: white;
  font-size: 14px;
  font-weight: 700;
  text-anchor: middle;
}

